<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main-screen min-w-screen min-h-screen bg-zinc-900 text-white">
        <div class="note-taking p-10">
        <form action="/create" method="post">
            <input type="text" placeholder="Title" class="block w-full bg-zinc-700 rounded-md p-2 m-2 outline-none" name="title">
            <textarea placeholder="Description goes here"class="block resize-none w-full bg-zinc-700 rounded-md p-2 m-2 outline-none" name="details"></textarea>
            <input type="submit" value="Take Note" class="block bg-amber-600 p-1 rounded-md m-2">
        </form>
        </div>
        <div class="notepad-wraper flex">
        <% if(files.length > 0){ %>
            <% files.forEach(function(val){ %>
                <div class="note bg-zinc-700 rounded-md p-6 m-11 w-100">
                    <h3 class="note-title text-lg font-bold"><%= val %></h3>
                    <a href="/show/<%= val %>" class="text-blue-300 underline">Read More</a>
                </div>
           <% }) %>
           <% } else { %>
                <h3 class="text-zinc-600 m-11 p-2 text-lg">No Tasks Yet.</h3>
        <% } %>
        </div>
    </div>
</body>
</html>